# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw

# Poetry
__pypackages__/
.poetry/
.venv/
poetry.lock

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# Environment
.env

# Editor/IDE
.vscode/

recommendations.txt